.Diet {
    background-image: url(../../../../src/assets/fonts/backk.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    margin-bottom: 800px;
}

.back {
    background-image: url(../../../../src/assets/fonts/dietback.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}

.box {
    width: 22%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    margin-bottom: 15px;
}

.g {
    font-family: TT Norms;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.di {
    font-family: TT Norms;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.die {
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 80px;
}

.boxreact {
    max-width: 512px;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0F467A24;
    border-radius: 16px;
    padding: 20px;
}

.img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.title {
    font-family: TT Norms;
    font-size: 28px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}

.p {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 400;
    color: #556A7D;
    margin-bottom: 30px;
}

.boxbig {
    display: flex;
    justify-content: space-between;
}

.boxdate {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.da {
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 400;
    color: #556A7D;
}

.boxbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 700;
    color: #0C6BC5;
    text-decoration: none;
}