.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
}

.items {
    width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    list-style-type: none;
}

.list {}

.link {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: blue;
}

.btn {
    width: 228px;
    height: 56px;
    background-color: #86BDEE;
    border: 0;
    border-radius: 48px;
    color: white;
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.6px;
}