@import url(./assets/stylesheet.css);
@import url(./assets/stylesheet.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: block !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px ! important;
    display: none !important;
}

.owl-prev {
    width: 64px !important;
    height: 64px !important;
    background-color: #e6f5fe!important;
    border-radius: 64px !important;
}

.owl-next {
    width: 64px !important;
    height: 64px !important;
    background-color: #e6f5fe !important;
    border-radius: 64px !important;
    margin-left: 15px !important;
}